.modal-header
  %h5.modal-title Nueva Nota
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
.modal-body
  = simple_form_for @note do |f|
    .form-group
      = f.input :title, label: false, input_html: { class: 'form-control', placeholder: 'Titulo', maxlength: 30, required: "required" }
    .form-group
      = f.input :content, as: :text, label: false, input_html: { class: 'form-control', placeholder: 'Añade una Nota ...', required: "required" }
    .form-group
      = f.input :color, as: :minicolors, label: false, input_html: {  class: 'form-control color-picker' }
    .form-group
      = f.button :submit, 'Crear', class: 'btn btn-primary'
.modal-footer
:javascript
  jQuery( function($) {
    $('.color-picker').minicolors()
  } );
