#index
  #note.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "note-label", :role => "dialog", tabindex: "-1"}
    .modal-dialog{:role => "document"}
      .modal-content

  .container
    .row
      .col-sm-2.col-md-2.text-right
        = link_to t('views.btn_create'), root_path, remote: true, data: { target: '#uploadNote', toggle: 'modal' }, class: 'btn btn-outline-success'
      .col-sm-8.col-md-8
        .container
          = form_tag(root_path, method: 'get') do
            = text_field_tag :search, nil, class: "search-box"
            = submit_tag t('views.btn_search'), name: nil, class: "btn btn-search"
      .col-sm-1.col-md-1.text-left
        .dropdown
          %button#dropdownMenu2.btn.btn-cs.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            %i.fas.fa-globe-americas.fa-cs
            %span.caret
          .dropdown-menu{"aria-labelledby" => "dropdownMenu2"}
            = link_to_unless_current t('views.english'), locale: "en"
            = link_to_unless_current t('views.spanish'), locale: "es"

  .container.padding
    .row.border
      .col-sm-12.col-md-12
        .row 
          - @notes.each do |note|
            .col-sm-4.col-md-3
              .card{style: "background-color: #{note.color};"}
                .card-body
                  %h5.card-title
                    = note.title
                  %p.card-text
                    = note.content
                  .row
                    .col-sm-12
                      .text-right.date-modification
                        Editado
                        = note.updated_at.to_formatted_s(:short)
                  .row
                    .col-sm-6
                      .text-left
                        = link_to t('views.destroy.btn'), note, method: :delete, data: { confirm: "#{t('views.destroy.confirm')}" }, class: 'btn btn-danger btn-per'
                    .col-sm-6
                      .text-right
                        = link_to t('views.btn_edit'), edit_note_path(note[:id]), remote: true, data: { target: '#uploadNote', toggle: 'modal' }, class: 'btn btn-outline-primary'
